.idea

cmake-build-debug/*
cmake-build-release/*
build/*
.vscode

data/test/tiny/*
data/subgraphs/*
data/mapping/*
!data/mapping/PGPgiantcompo.graph

utility/*.png

extern/KaHIP/*
extern/mt-metis-0.7.2/*
extern/ProcessMappingVerifier/*
extern/mt-kahypar/*
extern/mt-metis-0.7.2/*
extern/KaMinPar/*

extern/mt_kahypar_local/*
extern/mt_metis_local/*

external_tools/googletest/*
